{% extends 'base.html' %}

{% load static i18n %}

{% block title %}Instructor Details{% endblock %}

{% block content %}
{% include 'partials/theme-switch.html' %}

<main class="main_wrapper overflow-hidden">

  <!-- topbar__section__stert -->
  {% include 'partials/top-banner-2.html' %}
  <!-- topbar__section__end -->

  <!-- headar section start -->
  {% include 'partials/navbar-2.html' %}
  <!-- header section end -->

  <!-- Mobile Menu Start Here -->
  {% include 'partials/mobile-menu.html' %}
  <!-- Mobile Menu end Here -->

  <!-- theme fixed shadow -->
  <div>
    <div class="theme__shadow__circle"></div>
    <div class="theme__shadow__circle shadow__right"></div>
  </div>
  <!-- theme fixed shadow -->
  <!-- breadcrumbarea__section__start -->

  <div class="breadcrumbarea">

    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="breadcrumb__content__wraper" data-aos="fade-up">
            <div class="breadcrumb__title">
              <h2 class="heading">instructor page</h2>
            </div>
            <div class="breadcrumb__inner">
              <ul>
                <li><a href="{% url 'pages:dynamic_pages' template_name='index' %}">Home</a></li>
                <li>Blog page</li>
              </ul>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="shape__icon__2">
      <img loading="lazy" class=" shape__icon__img shape__icon__img__1"
           src="{% static 'img/herobanner/herobanner__1.png' %}"
           alt="photo">
      <img loading="lazy" class=" shape__icon__img shape__icon__img__2"
           src="{% static 'img/herobanner/herobanner__2.png' %}"
           alt="photo">
      <img loading="lazy" class=" shape__icon__img shape__icon__img__3"
           src="{% static 'img/herobanner/herobanner__3.png' %}"
           alt="photo">
      <img loading="lazy" class=" shape__icon__img shape__icon__img__4"
           src="{% static 'img/herobanner/herobanner__5.png' %}"
           alt="photo">
    </div>

  </div>
  <!-- breadcrumbarea__section__end-->


  <!-- intructor__teacher__start -->
  <div class="instructor sp_top_100 sp_bottom_100">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
          <div class="instructor__sidebar" data-tilt>
            <div class="instructor__sidebar__img" data-aos="fade-up">
              <img loading="lazy" src="{% static 'img/team/team__4.png' %}" alt="team">
              <div class="instructor__sidebar__small__img">
                <img loading="lazy" src="{% static 'img/about/about_4.png' %}" alt="img">
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
          <div class="instructor__inner__wraper">
            <div class="instructor__list">
              <ul>
                <li data-aos="fade-up">
                  <div class="instructor__heading">
                    <h3>Hiliary Ouse</h3>
                    <p>Teches Interior marketer</p>
                  </div>
                </li>
                <li data-aos="fade-up">
                  <div class="instructor__review">
                    <span>Review:</span>
                    <div class="instructor__star">
                      <i class="icofont-star"></i>
                      <i class="icofont-star"></i>
                      <i class="icofont-star"></i>
                      <i class="icofont-star"></i>
                      <i class="icofont-star"></i>
                      <span>(44)</span>
                    </div>
                  </div>
                </li>

                <li data-aos="fade-up">
                  <div class="instructor__follow">
                    <span>Follow Us:</span>
                    <div class="instructor__icon">
                      <ul>
                        <li>
                          <a href="#"><i class="icofont-facebook"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="icofont-twitter"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="icofont-instagram"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="icofont-youtube-play"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>

                <li data-aos="fade-up">


                  <div class="instructor__button">
                    <a class="default__button" href="#">Follow</a>
                  </div>

                </li>
              </ul>
            </div>
            <div class="instructor__content__wraper" data-aos="fade-up">
              <h6>Short Bio</h6>
              <p>Only a quid me old mucker squiffy tomfoolery grub cheers ruddy cor blimey guvnor in my
                flat, up the duff Eaton car boot up the kyver pardon you A bit of how's your father
                David skive off sloshed, don't get shirty with me
                chip shop vagabond crikey bugger Queen's English chap. Matie boy nancy boy bite your arm
                off up the kyver old no biggie fantastic boot, David have it show off show off pick your
                nose and blow off lost the plot porkies
                bits and bobs only a quid bugger all mate, absolutely bladdered bamboozled it's your
                round don't get shirty with me down the pub well.</p>
            </div>
            <div class="online__course__wrap">
              <div class="instructor__heading__2" data-aos="fade-up">
                <h3>Online Course</h3>
              </div>

              <div class="row instructor__slider__active row__custom__class" data-aos="fade-up">
                <div class="col-xl-6 column__custom__class">
                  <div class="gridarea__wraper">
                    <div class="gridarea__img">
                      <a href="{% url 'pages:dynamic_pages' template_name='course-details' %}"><img loading="lazy"
                                                                                                    src="{% static 'img/grid/grid_1.png' %}"
                                                                                                    alt="grid"></a>
                      <div class="gridarea__small__button">
                        <div class="grid__badge">Data &amp; Tech</div>
                      </div>
                      <div class="gridarea__small__icon">
                        <a href="#"><i class="icofont-heart-alt"></i></a>
                      </div>

                    </div>
                    <div class="gridarea__content">
                      <div class="gridarea__list">
                        <ul>
                          <li>
                            <i class="icofont-book-alt"></i> 23 Lesson
                          </li>
                          <li>
                            <i class="icofont-clock-time"></i> 1 hr 30 min
                          </li>
                        </ul>
                      </div>
                      <div class="gridarea__heading">
                        <h3><a href="{% url 'pages:dynamic_pages' template_name='course-details' %}">Foundation course
                          to under stand
                          about softwere</a></h3>
                      </div>
                      <div class="gridarea__price">
                        $32.00
                        <del>/ $67.00</del>
                        <span> <del class="del__2">Free</del></span>

                      </div>
                      <div class="gridarea__bottom">

                        <a href="{% url 'pages:dynamic_pages' template_name='instructor-detail' %}">
                          <div class="gridarea__small__img">
                            <img loading="lazy" src="{% static 'img/grid/grid_small_1.jpg' %}" alt="grid">
                            <div class="gridarea__small__content">
                              <h6>Micle Jhon</h6>
                            </div>
                          </div>
                        </a>

                        <div class="gridarea__star">
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                          <span>(44)</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 column__custom__class">
                  <div class="gridarea__wraper">
                    <div class="gridarea__img">
                      <img loading="lazy" src="{% static 'img/grid/grid_2.png' %}" alt="grid">
                      <div class="gridarea__small__button">
                        <div class="grid__badge blue__color">Mechanical</div>
                      </div>
                      <div class="gridarea__small__icon">
                        <a href="#"><i class="icofont-heart-alt"></i></a>
                      </div>

                    </div>
                    <div class="gridarea__content">
                      <div class="gridarea__list">
                        <ul>
                          <li>
                            <i class="icofont-book-alt"></i> 29 Lesson
                          </li>
                          <li>
                            <i class="icofont-clock-time"></i> 2 hr 10 min
                          </li>
                        </ul>
                      </div>
                      <div class="gridarea__heading">
                        <h3><a href="#">Nidnies course to under stand
                          about softwere</a></h3>
                      </div>
                      <div class="gridarea__price green__color">
                        $32.00
                        <del>/$67.00</del>
                        <span>.Free</span>

                      </div>
                      <div class="gridarea__bottom">
                        <a href="{% url 'pages:dynamic_pages' template_name='instructor-detail' %}">
                          <div class="gridarea__small__img">
                            <img loading="lazy" src="{% static 'img/grid/grid_small_2.jpg' %}" alt="grid">
                                                        <div class="gridarea__small__content">
                                                            <h6>Rinis Jhon</h6>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="gridarea__star">
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                    <span>(44)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 column__custom__class">
                                    <div class="gridarea__wraper">
                                        <div class="gridarea__img">
                                            <a href="{% url 'pages:dynamic_pages' template_name='course-details' %}"><img loading="lazy" src="{% static 'img/grid/grid_1.png' %}"
                                                    alt="grid"></a>
                                            <div class="gridarea__small__button">
                                                <div class="grid__badge">Data &amp; Tech</div>
                                            </div>
                                            <div class="gridarea__small__icon">
                                                <a href="#"><i class="icofont-heart-alt"></i></a>
                                            </div>

                                        </div>
                                        <div class="gridarea__content">
                                            <div class="gridarea__list">
                                                <ul>
                                                    <li>
                                                        <i class="icofont-book-alt"></i> 23 Lesson
                                                    </li>
                                                    <li>
                                                        <i class="icofont-clock-time"></i> 1 hr 30 min
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="gridarea__heading">
                                                <h3><a href="{% url 'pages:dynamic_pages' template_name='course-details' %}">Foundation course to under stand
                                                        about softwere</a></h3>
                                            </div>
                                            <div class="gridarea__price">
                                                $32.00 <del>/ $67.00</del>
                                                <span> <del class="del__2">Free</del></span>

                                            </div>
                                            <div class="gridarea__bottom">

                                                <a href="{% url 'pages:dynamic_pages' template_name='instructor-detail' %}">
                                                    <div class="gridarea__small__img">
                                                        <img loading="lazy" src="{% static 'img/grid/grid_small_1.jpg' %}" alt="grid">
                                                        <div class="gridarea__small__content">
                                                            <h6>Micle Jhon</h6>
                                                        </div>
                                                    </div>
                                                </a>

                                                <div class="gridarea__star">
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                    <span>(44)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 column__custom__class">
                                    <div class="gridarea__wraper">
                                        <div class="gridarea__img">
                                            <img loading="lazy" src="{% static 'img/grid/grid_2.png' %}" alt="grid">
                            <div class="gridarea__small__button">
                              <div class="grid__badge blue__color">Mechanical</div>
                            </div>
                            <div class="gridarea__small__icon">
                              <a href="#"><i class="icofont-heart-alt"></i></a>
                            </div>

                          </div>
                          <div class="gridarea__content">
                            <div class="gridarea__list">
                              <ul>
                                <li>
                                  <i class="icofont-book-alt"></i> 29 Lesson
                                </li>
                                <li>
                                  <i class="icofont-clock-time"></i> 2 hr 10 min
                                </li>
                              </ul>
                            </div>
                            <div class="gridarea__heading">
                              <h3><a href="#">Nidnies course to under stand
                                about softwere</a></h3>
                            </div>
                            <div class="gridarea__price green__color">
                              $32.00
                              <del>/$67.00</del>
                              <span>.Free</span>

                            </div>
                            <div class="gridarea__bottom">
                              <a href="{% url 'pages:dynamic_pages' template_name='instructor-detail' %}">
                                <div class="gridarea__small__img">
                                  <img loading="lazy" src="{% static 'img/grid/grid_small_2.jpg' %}" alt="grid">
                                                        <div class="gridarea__small__content">
                                                            <h6>Rinis Jhon</h6>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="gridarea__star">
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                    <span>(44)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- intructor__teacher__end -->


    <!-- footer__section__start -->
    <div class="footerarea">
        <div class="container">
            <div class="footerarea__newsletter__wraper">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" data-aos="fade-up">
                        <div class="footerarea__text">
                            <h3>Still You Need Our <span>Support</span> ?</h3>
                            <p>Don’t wait make a smart & logical quote here. Its pretty easy.</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" data-aos="fade-up">
                        <div class="footerarea__newsletter">
                            <div class="footerarea__newsletter__input">
                                <form action="#">
                                    <input type="text" placeholder="Enter your email here">
                                    <div class="footerarea__newsletter__button">
                                        <button type="submit" class="subscribe__btn">Subscribe Now</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footerarea__wrapper footerarea__wrapper__2">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-sm-12 col-md-12" data-aos="fade-up">
                        <div class="footerarea__inner footerarea__about__us">
                            <div class="footerarea__heading">
                                <h3>About us</h3>
                            </div>
                            <div class="footerarea__content">
                                <p>orporate clients and leisure travelers has been relying on Groundlink for dependable
                                    safe, and professional chauffeured car end service in major cities across World.</p>
                            </div>
                            <div class="foter__bottom__text">
                                <div class="footer__bottom__icon">
                                    <i class="icofont-clock-time"></i>
                                </div>
                                <div class="footer__bottom__content">
                                    <h6>Opening Houres</h6>
                                    <span>Mon - Sat(8.00 - 6.00)</span>
                                    <span>Sunday - Closed</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-sm-6 col-md-6" data-aos="fade-up">
                        <div class="footerarea__inner">
                            <div class="footerarea__heading">
                                <h3>Usefull Links</h3>
                            </div>
                            <div class="footerarea__list">
                                <ul>
                                    <li>
                                        <a href="#">About Us</a>
                                    </li>
                                    <li>
                                        <a href="#">Teachers</a>
                                    </li>
                                    <li>
                                        <a href="#">Partner</a>
                                    </li>
                                    <li>
                                        <a href="#">Room-Details</a>
                                    </li>
                                    <li>
                                        <a href="#">Gallery</a>
                                    </li>
                                </ul>
                            </div>


                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-sm-6 col-md-6" data-aos="fade-up">
                        <div class="footerarea__inner footerarea__padding__left">
                            <div class="footerarea__heading">
                                <h3>Course</h3>
                            </div>
                            <div class="footerarea__list">
                                <ul>
                                    <li>
                                        <a href="#">Ui Ux Design</a>
                                    </li>
                                    <li>
                                        <a href="#">Web Development</a>
                                    </li>
                                    <li>
                                        <a href="#">Business Strategy</a>
                                    </li>
                                    <li>
                                        <a href="#">Softwere Development</a>
                                    </li>
                                    <li>
                                        <a href="#">Business English</a>
                                    </li>
                                </ul>
                            </div>


                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-sm-12" data-aos="fade-up">
                        <div class="footerarea__right__wraper footerarea__inner">
                            <div class="footerarea__heading">
                                <h3>Recent Post</h3>
                            </div>
                            <div class="footerarea__right__list">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <div class="footerarea__right__img">
                                                <img loading="lazy" src="{% static 'img/footer/footer__1.png' %}" alt="footerphoto">
                                            </div>
                                            <div class="footerarea__right__content">
                                                <span>02 Apr 2024 </span>
                                                <h6>Best Your Business</h6>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="footerarea__right__img">
                                                <img loading="lazy" src="{% static 'img/footer/footer__2.png' %}" alt="footerphoto">
                                            </div>
                                            <div class="footerarea__right__content">
                                                <span>02 Apr 2024 </span>
                                                <h6>Keep Your Business</h6>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="footerarea__right__img">
                                                <img loading="lazy" src="{% static 'img/footer/footer__3.png' %}" alt="footerphoto">
                                            </div>
                                            <div class="footerarea__right__content">
                                                <span>02 Apr 2024 </span>
                                                <h6>Nice Your Business</h6>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footerarea__copyright__wrapper footerarea__copyright__wrapper__2">
                <div class="row">
                    <div class="col-xl-3 col-lg-3">
                        <div class="copyright__logo">
                            <a href="/"><img loading="lazy" src="{% static 'img/logo/logo_2.png' %}" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="footerarea__copyright__content footerarea__copyright__content__2">
                            <p>Copyright © <span>2024</span> by edurock. All Rights Reserved.</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="footerarea__icon footerarea__icon__2">
                            <ul>
                                <li><a href="//facebook.com"><i class="icofont-facebook"></i></a></li>
                                <li><a href="//twitter.com"><i class="icofont-twitter"></i></a></li>
                                <li><a href="//vimeo.com"><i class="icofont-vimeo"></i></a></li>
                                <li><a href="//linkedin.com"><i class="icofont-linkedin"></i></a></li>
                                <li><a href="//skype.com"><i class="icofont-skype"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- footer__section__end -->
</main>

{% endblock %}
