{% extends 'layouts/instructor.html' %}

{% load static i18n %}

{% block title %}Order History{% endblock %}

{% block page_content %}

<div class="col-xl-9 col-lg-9 col-md-12">
    <div class="dashboard__content__wraper">
        <div class="dashboard__section__title">
            <h4>Order History</h4>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="dashboard__table table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Course Name</th>
                                <th>Date</th>
                                <th>Price</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>#5478</th>
                                <td>App Development</td>
                                <td>January 27, 2024</td>
                                <td>$100.99</td>
                                <td><span class="dashboard__td">Success</span></td>
                            </tr>
                            <tr class="dashboard__table__row">
                                <th>#4585</th>
                                <td>Graphic</td>
                                <td>May 27, 2024</td>
                                <td>$200.99</td>
                                <td><span class="dashboard__td dashboard__td__2">Processing</span></td>
                            </tr>

                            <tr>
                                <th>#9656</th>
                                <td>App Development</td>
                                <td>January 27, 2024</td>
                                <td>$100.99</td>
                                <td><span class="dashboard__td">On Hold</span></td>
                            </tr>

                            <tr class="dashboard__table__row">
                                <th>#4585</th>
                                <td>Graphic</td>
                                <td>May 27, 2024</td>
                                <td>$200.99</td>
                                <td><span class="dashboard__td dashboard__td__2">Canceled</span></td>
                            </tr>
                            <tr>
                                <th>#9656</th>
                                <td>App Development</td>
                                <td>January 27, 2024</td>
                                <td>$100.99</td>
                                <td><span class="dashboard__td">On Hold</span></td>
                            </tr>
                            <tr class="dashboard__table__row">
                                <th>#4585</th>
                                <td>Graphic</td>
                                <td>May 27, 2024</td>
                                <td>$200.99</td>
                                <td><span class="dashboard__td dashboard__td__2">Canceled</span></td>
                            </tr>
                            <tr>
                                <th>#9656</th>
                                <td>App Development</td>
                                <td>January 27, 2024</td>
                                <td>$100.99</td>
                                <td><span class="dashboard__td">On Hold</span></td>
                            </tr>
                            <tr class="dashboard__table__row">
                                <th>#4585</th>
                                <td>Graphic</td>
                                <td>May 27, 2024</td>
                                <td>$200.99</td>
                                <td><span class="dashboard__td dashboard__td__2">Canceled</span></td>
                            </tr>
                            <tr>
                                <th>#5478</th>
                                <td>App Development</td>
                                <td>January 27, 2024</td>
                                <td>$100.99</td>
                                <td><span class="dashboard__td">Success</span></td>
                            </tr>
                            <tr class="dashboard__table__row">
                                <th>#4585</th>
                                <td>Graphic</td>
                                <td>May 27, 2024</td>
                                <td>$200.99</td>
                                <td><span class="dashboard__td dashboard__td__2">Processing</span></td>
                            </tr>

                            <tr>
                                <th>#9656</th>
                                <td>App Development</td>
                                <td>January 27, 2024</td>
                                <td>$100.99</td>
                                <td><span class="dashboard__td">On Hold</span></td>
                            </tr>

                            <tr class="dashboard__table__row">
                                <th>#4585</th>
                                <td>Graphic</td>
                                <td>May 27, 2024</td>
                                <td>$200.99</td>
                                <td><span class="dashboard__td dashboard__td__2">Canceled</span></td>
                            </tr>
                            <tr>
                                <th>#9656</th>
                                <td>App Development</td>
                                <td>January 27, 2024</td>
                                <td>$100.99</td>
                                <td><span class="dashboard__td">On Hold</span></td>
                            </tr>
                            <tr class="dashboard__table__row">
                                <th>#4585</th>
                                <td>Graphic</td>
                                <td>May 27, 2024</td>
                                <td>$200.99</td>
                                <td><span class="dashboard__td dashboard__td__2">Canceled</span></td>
                            </tr>
                            <tr>
                                <th>#9656</th>
                                <td>App Development</td>
                                <td>January 27, 2024</td>
                                <td>$100.99</td>
                                <td><span class="dashboard__td">On Hold</span></td>
                            </tr>
                            <tr class="dashboard__table__row">
                                <th>#4585</th>
                                <td>Graphic</td>
                                <td>May 27, 2024</td>
                                <td>$200.99</td>
                                <td><span class="dashboard__td dashboard__td__2">Canceled</span></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock  %}

{% block extra_javascript %} {% endblock %}