{% extends 'base.html' %}
{% load static i18n %}

{% block title %}Login/Register{% endblock %}

{% block content %}
{% include 'partials/theme-switch.html' %}

<main class="main_wrapper overflow-hidden">
    {% include 'partials/top-banner-2.html' %}
    {% include 'partials/navbar.html' %}
    {% include 'partials/mobile-menu.html' %}

    <div class="loginarea sp_top_100 sp_bottom_100">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-md-8 offset-md-2" data-aos="fade-up">
                    <ul class="nav tab__button__wrap text-center" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="single__tab__link active" data-bs-toggle="tab"
                                data-bs-target="#projects__one" type="button">Login</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="single__tab__link" data-bs-toggle="tab" data-bs-target="#projects__two"
                                type="button">Sign up</button>
                        </li>
                    </ul>
                </div>

                <div class="tab-content tab__content__wrapper" id="myTabContent" data-aos="fade-up">
                    <div class="tab-pane fade active show" id="projects__one" role="tabpanel">
                        <div class="col-xl-8 col-md-8 offset-md-2">
                            <div class="loginarea__wraper">
                                <div class="login__heading"><h5 class="login__title">Login</h5></div>
                                <form method="POST" action="{% url 'account_login' %}">
                                    {% csrf_token %}
                                    <div class="login__form">
                                        <label class="form__label">Email address</label>
                                        <input class="common__login__input" type="email" name="login"
                                            placeholder="guest@gmail.com" required>
                                    </div>
                                    <div class="login__form">
                                        <label class="form__label">Password</label>
                                        <input class="common__login__input" type="password" name="password" 
                                            placeholder="guest" required>
                                    </div>
                                    <div class="login__button">
                                        <button type="submit" class="default__button w-100">Log In</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="projects__two" role="tabpanel">
                        <div class="col-xl-8 offset-md-2">
                            <div class="loginarea__wraper">
                                <div class="login__heading"><h5 class="login__title">Sign Up</h5></div>
                                <form method="POST" action="{% url 'account_signup' %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="login__form">
                                                <label class="form__label">Full Name</label>
                                                <input class="common__login__input" type="text" name="name" placeholder="Full Name" required>
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <div class="login__form">
                                                <label class="form__label">Email</label>
                                                <input class="common__login__input" type="email" name="email" placeholder="Your Email" required>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="login__form">
                                                <label class="form__label">Password</label>
                                                <input class="common__login__input" type="password" name="password1" placeholder="Password" required>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="login__form">
                                                <label class="form__label">Confirm Password</label>
                                                <input class="common__login__input" type="password" name="password2" placeholder="Re-Enter Password" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="login__button">
                                        <button type="submit" class="default__button w-100">Sign Up</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}