{% extends 'base.html' %}

{% load static i18n %}

{% block html_attribute %}class="no-js is_dark"{% endblock html_attribute %}
{% block body_attribute %}class="body__wrapper is_dark"{% endblock body_attribute %}

{% block title %}Edurock | Maintenance-dark{% endblock %}

{% block content %}
{% include 'partials/theme-switch.html' %}

<main class="main_wrapper overflow-hidden">

    <div class="maintaince">
        <div class="container">
            <div class="row align-items-center text-center">
                <div class="maintenance__wrapper">
                    <h3>Sorry, We are</h3>
                    <h1>Under Maintenance</h1>
                    <p>We're currently under maintenance, if all goes as planned we'll be back in</p>

                    <div class="featurearea__countdown justify-content-center" data-countdown="2025/06/01">
                        <div class="count">
                            <p>00</p><span>Days</span>
                        </div>
                        <div class="count">
                            <p>00</p><span>Hrs</span>
                        </div>
                        <div class="count">
                            <p>00</p><span>Min</span>
                        </div>
                        <div class="count">
                            <p>00</p><span>Sec</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</main>

{% endblock %}
