{% extends 'base.html' %} {% load static i18n %} 
{% block title %}About{%endblock %} {% block content %}
<!-- {% include 'partials/theme-switch.html' %} -->

<main class="main_wrapper overflow-hidden">
  <!-- topbar__section__stert -->
  {% include 'partials/top-banner.html' %}
  <!-- topbar__section__end -->

  <!-- headar section start -->
  {% include 'partials/navbar-2.html' %}
  <!-- header section end -->

  <!-- Mobile Menu Start Here -->
  {% include 'partials/mobile-menu.html' %}
  <!-- Mobile Menu end Here -->

  <!-- theme fixed shadow -->
  <div>
    <div class="theme__shadow__circle"></div>
    <div class="theme__shadow__circle shadow__right"></div>
  </div>
  <!-- theme fixed shadow -->


  <!-- intructor__teacher__start -->
  <div class="instructor sp_top_100 sp_bottom_100">
    <div class="container">
      <div class="row sp_bottom_40">
        <div class="col-xl-12" data-aos="fade-up">
          <div class="section__title__2 text-center">
            <div class="default__small__button">
              <span>Meet Our Experts</span>
            </div>
            <div
              class="section__title__heading__2 section__title__heading__3 heading__fontsize__2"
            >
              <h2>Dedicated to innovation and growth</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
          <div class="instructor__sidebar" data-tilt>
            <div class="instructor__sidebar__img" data-aos="fade-up">
              <img
                loading="lazy"
                src="{% static 'img/team/team__4.png' %}"
                alt="team"
              />
              <div class="instructor__sidebar__small__img">
                <!-- <img loading="lazy" src="{% static 'img/about/about_4.png' %}" alt="img"> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
          <div class="instructor__inner__wraper">
            <div class="instructor__list">
              <ul>
                <li data-aos="fade-up">
                  <div class="instructor__heading">
                    <h3>Name</h3>
                    <p>Position</p>
                  </div>
                </li>

                <li data-aos="fade-up">
                  <div class="instructor__button">
                    <a class="default__button" href="#">Follow</a>
                  </div>
                </li>
              </ul>
            </div>
            <div class="instructor__content__wraper" data-aos="fade-up">
              <h6>Short Bio</h6>
              <p>
                Hi! I’m Arun G, the Technical Lead for our library. I’m a React
                Developer with over 4 years of experience building fun, safe,
                and easy-to-use websites. I love creating digital spaces where
                learning feels exciting and exploring new ideas is simple and
                enjoyable. Behind the scenes, I make sure our website runs
                smoothly, loads quickly, and works well for everyone—from
                curious kids to helpful parents and librarians. I’m always happy
                to take on new challenges and use technology to support
                learning, creativity, and imagination.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
          <div class="instructor__sidebar" data-tilt>
            <div class="instructor__sidebar__img" data-aos="fade-up">
              <img
                loading="lazy"
                src="{% static 'img/team/team__4.png' %}"
                alt="team"
              />
              <div class="instructor__sidebar__small__img">
                <!-- <img loading="lazy" src="{% static 'img/about/about_4.png' %}" alt="img"> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
          <div class="instructor__inner__wraper">
            <div class="instructor__list">
              <ul>
                <li data-aos="fade-up">
                  <div class="instructor__heading">
                    <h3>Name</h3>
                    <p>Position</p>
                  </div>
                </li>

                <li data-aos="fade-up">
                  <div class="instructor__button">
                    <a class="default__button" href="#">Follow</a>
                  </div>
                </li>
              </ul>
            </div>
            <div class="instructor__content__wraper" data-aos="fade-up">
              <h6>Short Bio</h6>
              <p>
                Hi! I’m Arun G, the Technical Lead for our library. I’m a React
                Developer with over 4 years of experience building fun, safe,
                and easy-to-use websites. I love creating digital spaces where
                learning feels exciting and exploring new ideas is simple and
                enjoyable. Behind the scenes, I make sure our website runs
                smoothly, loads quickly, and works well for everyone—from
                curious kids to helpful parents and librarians. I’m always happy
                to take on new challenges and use technology to support
                learning, creativity, and imagination.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
          <div class="instructor__sidebar" data-tilt>
            <div class="instructor__sidebar__img" data-aos="fade-up">
              <img
                loading="lazy"
                src="{% static 'img/team/arun.png' %}"
                alt="team"
              />
              <div class="instructor__sidebar__small__img">
                <!-- <img loading="lazy" src="{% static 'img/about/about_4.png' %}" alt="img"> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
          <div class="instructor__inner__wraper">
            <div class="instructor__list">
              <ul>
                <li data-aos="fade-up">
                  <div class="instructor__heading">
                    <h3>Arun G</h3>
                    <p>Technical Lead</p>
                  </div>
                </li>

                <li data-aos="fade-up">
                  <div class="instructor__button">
                    <a class="default__button" href="#">Follow</a>
                  </div>
                </li>
              </ul>
            </div>
            <div class="instructor__content__wraper" data-aos="fade-up">
              <h6>Short Bio</h6>
              <p>
                Hi! I’m Arun G, the Technical Lead for our library. I’m a React
                Developer with over 4 years of experience building fun, safe,
                and easy-to-use websites. I love creating digital spaces where
                learning feels exciting and exploring new ideas is simple and
                enjoyable. Behind the scenes, I make sure our website runs
                smoothly, loads quickly, and works well for everyone—from
                curious kids to helpful parents and librarians. I’m always happy
                to take on new challenges and use technology to support
                learning, creativity, and imagination.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- intructor__teacher__end -->

  <!-- testmonialarea__section__atart -->
  <div class="testmonialarea sp_top_100 sp_bottom_110">
    <div class="container">
      <div class="row" data-aos="fade-up">
        <div class="section__title text-center">
          <div class="section__title__button">
            <div class="default__small__button">Client Testimonial</div>
          </div>
          <div class="section__title__heading heading__underline">
            <h2>What members <span> Say About Us</span></h2>
          </div>
        </div>
      </div>
      <div
        class="row row__custom__class testimonial__slider__active default__arrow"
        data-aos="fade-up"
      >
        <div class="col-xl-6 column__custom__class">
          <div class="single__testimonial__wraper">
            <div class="single__testimonial__inner">
              <div class="testimonial__img">
                <img
                  loading="lazy"
                  src="{% static 'img/testimonial/testi_1.png' %}"
                  alt="testi"
                />
                <div class="testimonial__name">
                  <h6>Kiruthika Srinivasan</h6>
                  <span>Library Membe</span>
                </div>
              </div>
              <div class="testimonial__icon">
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star dark__color"></i>
              </div>
            </div>

            <div class="testimonial__content">
              <p>
                "Good collection of books. Lots of activities planned for kids,
                which keeps them engaged and sharpen their skills. Librarian is
                a passionate reader, tutor whose prime motive is to encourage
                kids and people to cultivate the wonderful habit of reading."
              </p>
            </div>
          </div>
        </div>

        <div class="col-xl-6 column__custom__class">
          <div class="single__testimonial__wraper">
            <div class="single__testimonial__inner">
              <div class="testimonial__img">
                <img
                  loading="lazy"
                  src="{% static 'img/testimonial/testi_1.png' %}"
                  alt="testi"
                />
                <div class="testimonial__name">
                  <h6>Lakshmi</h6>
                  <span>Parent of 6 year old</span>
                </div>
              </div>
              <div class="testimonial__icon">
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star dark__color"></i>
              </div>
            </div>

            <div class="testimonial__content">
              <p>
                "My 6 year old son enjoys the activities. The place has good
                collection of books to keep the children engaged. Looking
                forward to more such weekly activities from the Book Buddy team
                😀"
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-6 column__custom__class">
          <div class="single__testimonial__wraper">
            <div class="single__testimonial__inner">
              <div class="testimonial__img">
                <img
                  loading="lazy"
                  src="{% static 'img/testimonial/testi_1.png' %}"
                  alt="testi"
                />
                <div class="testimonial__name">
                  <h6>Ramya</h6>
                  <span>Parent and Member</span>
                </div>
              </div>
              <div class="testimonial__icon">
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star dark__color"></i>
              </div>
            </div>

            <div class="testimonial__content">
              <p>
                "Very good collection of books with cleanliness all around the
                library. It's a good place for students to gain knowledge"
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- testmonialarea__section__end-->

  <!-- Gallery -->

  <div class="gallery">
    <div class="container-fluid full__width__padding">
      <div class="blogsidebar__content__wraper__2">
        <div class="photo__gallery__img">
          <div class="single__gallery__img">
            <img
              loading="lazy"
              src="{% static 'img/gallery/kids_1.jpg' %}"
              alt="photo"
            />
            <div class="gallery__icon">
              <a
                class="popup__img"
                href="{% static 'img/gallery/kids_1.jpg' %}"
              >
                <i class="icofont-eye-alt"></i
              ></a>
            </div>
          </div>
          <div class="single__gallery__img">
            <img
              loading="lazy"
              src="{% static 'img/gallery/kids_2.jpg' %}"
              alt="photo"
            />
            <div class="gallery__icon">
              <a
                class="popup__img"
                href="{% static 'img/gallery/kids_2.jpg' %}"
              >
                <i class="icofont-eye-alt"></i
              ></a>
            </div>
          </div>
          <div class="single__gallery__img">
            <img
              loading="lazy"
              src="{% static 'img/gallery/kids_3.jpg' %}"
              alt="photo"
            />
            <div class="gallery__icon">
              <a
                class="popup__img"
                href="{% static 'img/gallery/kids_3.jpg' %}"
              >
                <i class="icofont-eye-alt"></i
              ></a>
            </div>
          </div>
          <div class="single__gallery__img">
            <img
              loading="lazy"
              src="{% static 'img/gallery/kids_4.jpg' %}"
              alt="photo"
            />
            <div class="gallery__icon">
              <a
                class="popup__img"
                href="{% static 'img/gallery/kids_4.jpg' %}"
              >
                <i class="icofont-eye-alt"></i
              ></a>
            </div>
          </div>
          <div class="single__gallery__img">
            <img
              loading="lazy"
              src="{% static 'img/gallery/kids_5.jpg' %}"
              alt="photo"
            />
            <div class="gallery__icon">
              <a
                class="popup__img"
                href="{% static 'img/gallery/kids_5.jpg' %}"
              >
                <i class="icofont-eye-alt"></i
              ></a>
            </div>
          </div>
          <div class="single__gallery__img">
            <img
              loading="lazy"
              src="{% static 'img/gallery/kids_6.jpg' %}"
              alt="photo"
            />
            <div class="gallery__icon">
              <a
                class="popup__img"
                href="{% static 'img/gallery/kids_6.jpg' %}"
              >
                <i class="icofont-eye-alt"></i
              ></a>
            </div>
          </div>

          <div class="single__gallery__img">
            <img
              loading="lazy"
              src="{% static 'img/gallery/kids_7.jpg' %}"
              alt="photo"
            />
            <div class="gallery__icon">
              <a
                class="popup__img"
                href="{% static 'img/gallery/kids_7.jpg' %}"
              >
                <i class="icofont-eye-alt"></i
              ></a>
            </div>
          </div>
          <div class="single__gallery__img">
            <img
              loading="lazy"
              src="{% static 'img/gallery/kids_8.jpg' %}"
              alt="photo"
            />
            <div class="gallery__icon">
              <a
                class="popup__img"
                href="{% static 'img/gallery/kids_8.jpg' %}"
              >
                <i class="icofont-eye-alt"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Gallery -->

  <!-- testimonial__section__start -->
  <div
    class="testimonialarea__3"
    style="background: url(/static/img/testimonial/testi_bg.png)"
  >
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="section__title__2" data-aos="fade-up">
            <div class="section__small__title">
              <span>Book Buddy</span>
            </div>
            <div
              class="section__title__heading__2 section__title__heading__3 heading__fontsize__2"
            >
              <h2>Connect with Book Buddy</h2>
            </div>
          </div>

          <div class="testimonial__slider__active__3" data-aos="fade-up">
            <div class="testimonialarea__paragraph__3">
              <p class="testimonial__quote">
                <i class="icofont-quote-left quote__left"></i>Help us build a
                strong and meaningful reading culture together. Join the Book
                Buddy community as a Volunteer, Writer, Sponsor, or Collaborator
                and contribute your time, skills, or resources to inspire young
                minds. By working together, we can create engaging learning
                spaces, support literacy initiatives, and make quality reading
                experiences accessible to every child.<i
                  class="icofont-quote-right quote__right"
                ></i>
              </p>

              <div class="testimonialarea__person__3">
                <a class="default__button" href="#">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12"
          data-aos="fade-up"
        >
          <div class="testimonial__group__img" data-tilt>
            <img
              loading="lazy"
              src="{% static 'img/testimonial/testi__group__1.png' %}"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- testimonial__section__start -->

  {% include 'partials/footer.html' %}
</main>

{% endblock %}
