# Core Django
Django>=4.2,<5.2
django-environ

# Forms
django-crispy-forms>=2.0
crispy-bootstrap5

# Auth & MFA
django-allauth
argon2-cffi

# Cloudinary Storage
cloudinary>=1.40.0
django-cloudinary-storage>=0.3.0

# Database (PostgreSQL)
psycopg2-binary
dj-database-url

# Cache & Sessions
redis
django-redis

# Email (Anymail)
django-anymail

# Production Server
gunicorn

# Image Processing
Pillow

# Optimization
whitenoise

fido2>=1.0.0
django-allauth[mfa]