{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" {% block html_attribute %}{% endblock html_attribute %}>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <title>{% block title %}{% endblock title %} Book Buddy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="Book Buddy Library">
  <meta name="author" content="coderthemes"/>
  <link rel="icon" href="{% static 'img/favicon.png' %}"/>

  {% block css %}
    {% block extra_css %} {% endblock extra_css %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/aos.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/icofont.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/slick.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/swiper-bundle.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
  {% endblock css %}


  <style>
    /* Content visibility safety net */
    [data-aos] {
      opacity: 1 !important;
      transform: none !important;
      visibility: visible !important;
    }
  </style>
</head>

<body {% block body_attribute %}class="body__wrapper"{% endblock body_attribute %}>

{% block preloader %}{% endblock %}
{% block content %}{% endblock %}
{% block modal %}{% endblock %}
{% include 'partials/_auth_modal.html' %}
{% block javascript %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollup/2.4.1/jquery.scrollUp.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.7/swiper-bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>

  <script src="{% static 'js/plugins.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

  {% block extra_javascript %} {% endblock extra_javascript %}
{% endblock javascript %}

<script>
  if (localStorage.getItem("theme-color") === "dark" || (!("theme-color" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
    document.getElementById("light--to-dark-button")?.classList.add("dark--mode");
  }
  if (localStorage.getItem("theme-color") === "light") {
    document.getElementById("light--to-dark-button")?.classList.remove("dark--mode");
  }
</script>

</body>
</html>