{% load static %}
<div class="footerarea">
  <div class="container">
   


    <div class="footerarea__wrapper footerarea__wrapper__2">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12" data-aos="fade-up">
          <div class="footerarea__inner footerarea__about__us">
            <div class="footerarea__heading">
              <h3>About us</h3>
            </div>
            <div class="footerarea__content">
              <p>Empowering learners of all ages to think critically through story-driven resources and a supportive community.</p>
            </div>
            <div class="foter__bottom__text">
              <!-- <div class="footer__bottom__icon">
                <i class="icofont-clock-time"></i>
              </div> -->
              <div class="footer__bottom__content">
                <h6>Opening Hours</h6>
                <span>Tuesday - Sunday <br>(10.00Am - 1.00Pm & <br> 04:30Pm - 08:30Pm)</span>
                <span>Monday - Closed</span>
              </div>
            </div>

          </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6" data-aos="fade-up">
          <div class="footerarea__inner">
            <div class="footerarea__heading">
              <h3>Usefull Links</h3>
            </div>
            <div class="footerarea__list">
              <ul>
                <li>
                  <a href="#">About Us</a>
                </li>
                <li>
                  <a href="#">Beyond School</a>
                </li>
                <li>
                  <a href="#">School Work</a>
                </li>
                <li>
                  <a href="#">Library</a>
                </li>
                <li>
                  <a href="#">Magazine</a>
                </li>
              </ul>
            </div>


          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6" data-aos="fade-up">
          <div class="footerarea__inner footerarea__padding__left">
            <div class="footerarea__heading">
              <h3>Course</h3>
            </div>
            <div class="footerarea__list">
              <ul>
                <li>
                  <a href="#">Podcasts</a>
                </li>
                <li>
                  <a href="#">English</a>
                </li>
                <li>
                  <a href="#">Math</a>
                </li>
                <li>
                  <a href="#">Coding</a>
                </li>
                <li>
                  <a href="#">Professional Courses</a>
                </li>
              </ul>
            </div>


          </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12" data-aos="fade-up">
          <div class="footerarea__right__wraper footerarea__inner">
            <div class="footerarea__heading">
              <h3>Get In Touch</h3>
            </div>
            <div class="footerarea__right__list">
              <ul>
                <li>
                  <a href="#">
                    
                    <div class="footerarea__right__content">
                      <span>Phone </span>
                      <h6>+91 9080759312</h6>
                    </div>
                  </a>
                </li>

                <li>
                  <a href="#">
                   
                    <div class="footerarea__right__content">
                      <span>Email Address </span>
                      <h6>bookbuddy.edu@gmail.com</h6>
                    </div>
                  </a>
                </li>

                <li>
                  <a href="#">
                   
                    <div class="footerarea__right__content">
                      <span>Address </span>
                      <h6>No 1 Thiruvalluvar Street Gandhi Nagar Saligramam Chennai 600093</h6>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footerarea__copyright__wrapper footerarea__copyright__wrapper__2">
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <div class="copyright__logo">
            <a href="/"><img loading="lazy" src="{% static 'img/logo/logo_2.png' %}"
                             alt="logo"></a>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="footerarea__copyright__content footerarea__copyright__content__2">
            <p>Copyright © <span>2026</span> by bookbuddy. All Rights Reserved.</p>
          </div>
        </div>
     
      </div>
    </div>

  </div>
</div>
