{% load static %}
<div class="mobile-off-canvas-active">
  <a class="mobile-aside-close"><i class="icofont  icofont-close-line"></i></a>
  <div class="header-mobile-aside-wrap">

    <div class="mobile-menu-wrap headerarea">

      <div class="mobile-navigation">

        <nav>
          <ul class="mobile-menu">


            <li><a href="{% url 'pages:dynamic_pages' template_name='index' %}">Home</a> </li>

            <li><a href="{% url 'pages:dynamic_pages' template_name='about' %}">About Us</a> </li>


            <li class="menu-item-has-children "><a
                href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Books & Membership</a>

              <ul class="dropdown">
                <li class="menu-item-has-children">

                <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Library Catalogue</a>
                </li>
                <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Membership &
                    Plans</a></li>
                <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">New Arrivals</a></li>
                <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Recommend a Book</a>
                </li>
                <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">How to Borrow</a>
                </li>
                <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">FAQS</a></li>

            </li>


          </ul>
          </li>










          <li class="menu-item-has-children "><a
              href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">School Support</a>

            <ul class="dropdown">
              <li class="menu-item-has-children">
                <a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Higher Secondary Level</a>

                <ul class="dropdown">
                  <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Grade 12</a></li>
                  <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Grade 11</a></li>
                  <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Grade 10</a></li>
                  <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Grade 9</a></li>
                </ul>
              </li>

              <li class="menu-item-has-children">
                <a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Middle School Level </a>
                <ul class="dropdown">
                  <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Grade 8</a></li>
                  <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Grade 7</a></li>
                  <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Grade 6</a></li>
                </ul>
              </li>

              <li class="menu-item-has-children">
                <a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Primary Level</a>
                <ul class="dropdown">
                  <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Grade 5</a></li>
                  <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Grade 4</a></li>
                  <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Grade 3</a></li>
                  <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Grade 2</a></li>
                  <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Grade 1</a></li>
                </ul>
              </li>


              <li class="menu-item-has-children">
                <a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Kindergarten </a>

              </li>

            </ul>
          </li>





          <li class="menu-item-has-children "><a href="">Beyond School</a>

            <ul class="dropdown">
              <li class="menu-item-has-children">
                <a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Kids</a>

                <ul class="dropdown">
                  <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Coding</a></li>
                  <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">AI Stories</a></li>
                  <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">English</a></li>
                  <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Maths</a></li>
                  <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Logical</a></li>
                </ul>
              </li>

              <li class="menu-item-has-children">
                <a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Adults </a>
                <ul class="dropdown">
                  <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">BA</a></li>
                  <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Banking</a></li>
                  <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Coding</a></li>
                  <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Soft Skills</a></li>
                </ul>
              </li>

              <li class="menu-item-has-children">
                <a href="{% url 'pages:dynamic_pages' template_name='podcasts' %}">Podcasts</a>
                <ul class="dropdown">
                  <li><a href="{% url 'pages:dynamic_pages' template_name='podcasts' %}">Kids</a></li>
                  <li><a href="{% url 'pages:dynamic_pages' template_name='podcasts' %}">Adults</a></li>
                </ul>
              </li>


              <li class="menu-item-has-children">
                <a href="{% url 'pages:dynamic_pages' template_name='magazine' %}">Magazine </a>
                <ul class="dropdown">
                  <li><a href="{% url 'pages:dynamic_pages' template_name='magazine' %}">Monthly Magazine</a></li>

                  <li><a href="{% url 'pages:dynamic_pages' template_name='news-paper' %}">Newspaper</a></li>
                  <li><a href="{% url 'pages:dynamic_pages' template_name='daily-challenges' %}">Daily Challenges</a></li>

                </ul>
              </li>

            </ul>
          </li>

          <li class="menu-item-has-children "><a
              href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Events</a>

            <ul class="dropdown">
              <li class="menu-item-has-children">

              <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Workshop</a></li>
              <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Calendar</a></li>

          </li>


          </ul>
          </li>





          <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Get Involved</a></li>

          </ul>
        </nav>

      </div>

    </div>
    <!-- <div class="mobile-curr-lang-wrap">
      <div class="single-mobile-curr-lang">
        <a class="mobile-language-active" href="#">Language <i class="icofont-thin-down"></i></a>
        <div class="lang-curr-dropdown lang-dropdown-active">
          <ul>
            <li><a href="#">English (US)</a></li>
            <li><a href="#">English (UK)</a></li>
            <li><a href="#">Spanish</a></li>
          </ul>
        </div>
      </div> -->

    <!-- <div class="single-mobile-curr-lang">
                  <a class="mobile-currency-active" href="#">Currency <i class="icofont-thin-down"></i></a>
                  <div class="lang-curr-dropdown curr-dropdown-active">
                      <ul>
                          <li><a href="#">USD</a></li>
                          <li><a href="#">EUR</a></li>
                          <li><a href="#">Real</a></li>
                          <li><a href="#">BDT</a></li>
                      </ul>
                  </div>
              </div> -->

    <div class="single-mobile-curr-lang">
      <a class="mobile-account-active" href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">My Account <i
          class="icofont-thin-down"></i></a>
      <div class="lang-curr-dropdown account-dropdown-active">
        <ul>
          <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">Login</a></li>
          <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">/ Create Account</a></li>
          <li><a href="{% url 'pages:dynamic_pages' template_name='comming-soon' %}">My Account</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mobile-social-wrap">


    <a href="https://www.facebook.com/people/Book-Buddy/61550556129264/?rdid=YX9S9ZKQ4I6gcq7X&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1aPWZsrMF1%2F"
      target="_blank">
      <i class="icofont icofont-facebook"></i>
    </a>

    <a href="https://www.instagram.com/bookbuddylendinglibrary/?igsh=aGdxMTd6MGN2MWZn#" target="_blank">
      <i class="icofont icofont-instagram"></i>
    </a>

    <a href="https://www.linkedin.com/in/book-buddy-in/" target="_blank">
      <i class="icofont icofont-linkedin"></i>
    </a>

    <a href="https://open.spotify.com/show/1OmDmq0PsyM9Er836rY8bT?si=a81a87faffd849da" target="_blank">
      <i class="icofont icofont-spotify"></i>
    </a>

  </div>
</div>
</div>