{% load static %}
<div class="mobile-off-canvas-active">
  <a class="mobile-aside-close"><i class="icofont  icofont-close-line"></i></a>
  <div class="header-mobile-aside-wrap">
  
    <div class="mobile-menu-wrap headerarea">

      <div class="mobile-navigation">

        <nav>
          <ul class="mobile-menu">


  <li><a href="{% url 'pages:dynamic_pages' template_name='index' %}">Home</a> </li>

                <li><a href="">About Us</a> </li>

                <li><a href="">Beyond School</a> </li>

                <li><a href="">School Work</a> </li>






            <li class="menu-item-has-children "><a href="#">Library</a>

              <ul class="dropdown">
                <li class="menu-item-has-children">
                 
                  <li><a href="">Library Catalogue</a>
                    </li>
                    <li><a href="">Membership &
                        Plans</a></li>
                    <li><a href="">New Arrivals</a></li>
                    <li><a href="">Recommend a Book</a>
                    </li>
                    <li><a href="">How to Borrow</a>
                    </li>
                    <li><a href="">FAQS</a></li>

                </li>

               

                <li class="menu-item-has-children">
                  <div class="mega__menu__img">
                    <a href="#"><img loading="lazy" src="{% static 'img/mega/mega_menu_2.png' %}"
                                     alt="Mega Menu"></a>
                  </div>
                </li>
              </ul>
            </li>


            <li class="menu-item-has-children "><a href="">Magazine</a>

              <ul class="dropdown">
                <li class="menu-item-has-children">
                 
                     <li><a href="">Our Magazine</a></li>
                    <li><a href="">Digital
                        Newspaper</a></li>
                    <li><a href="">Community Blog</a>
                    </li>
                </li>


                <li class="menu-item-has-children">
                  <div class="mega__menu__img">
                    <a href="#"><img loading="lazy" src="{% static 'img/mega/mega_menu_1.png' %}"
                                     alt="Mega Menu"></a>
                  </div>
                </li>
              </ul>
            </li>


        <li><a href="">Get Involved</a></li>

          </ul>
        </nav>

      </div>

    </div>
    <div class="mobile-curr-lang-wrap">
      <div class="single-mobile-curr-lang">
        <a class="mobile-language-active" href="#">Language <i class="icofont-thin-down"></i></a>
        <div class="lang-curr-dropdown lang-dropdown-active">
          <ul>
            <li><a href="#">English (US)</a></li>
            <li><a href="#">English (UK)</a></li>
            <li><a href="#">Spanish</a></li>
          </ul>
        </div>
      </div>

      <!-- <div class="single-mobile-curr-lang">
                  <a class="mobile-currency-active" href="#">Currency <i class="icofont-thin-down"></i></a>
                  <div class="lang-curr-dropdown curr-dropdown-active">
                      <ul>
                          <li><a href="#">USD</a></li>
                          <li><a href="#">EUR</a></li>
                          <li><a href="#">Real</a></li>
                          <li><a href="#">BDT</a></li>
                      </ul>
                  </div>
              </div> -->

      <div class="single-mobile-curr-lang">
        <a class="mobile-account-active" href="#">My Account <i class="icofont-thin-down"></i></a>
        <div class="lang-curr-dropdown account-dropdown-active">
          <ul>
            <li><a href="">Login</a></li>
            <li><a href="">/ Create Account</a></li>
            <li><a href="">My Account</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mobile-social-wrap">
      <a class="facebook" href="#"><i class="icofont icofont-facebook"></i></a>
      <a class="twitter" href="#"><i class="icofont icofont-twitter"></i></a>
      <a class="pinterest" href="#"><i class="icofont icofont-pinterest"></i></a>
      <a class="instagram" href="#"><i class="icofont icofont-instagram"></i></a>
      <a class="google" href="#"><i class="icofont icofont-youtube-play"></i></a>
    </div>
  </div>
</div>
