{% load static %}
<header>
  <div class="headerarea headerarea__2 header__sticky header__area">
    <div class="container desktop__menu__wrapper">
      <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-6">
          <div class="headerarea__left">
            <div class="headerarea__left__logo">

              <a href="{% url 'pages:dynamic_pages' template_name='index' %}"><img loading="lazy"
                  src="{% static 'img/logo/logo_1.png' %}" alt="logo"></a>
            </div>

          </div>
        </div>
        <div class="col-xl-8 col-lg-8 main_menu_wrap">
          <div class="headerarea__main__menu">
            <nav>
              <ul>


                <li><a href="{% url 'pages:dynamic_pages' template_name='index' %}">Home</a> </li>



                <li><a href="">About Us</a> </li>


                <li><a class="headerarea__has__dropdown" href="">Books & Membership
                    <i class="icofont-rounded-down"></i>
                  </a>
                  <ul class="headerarea__submenu headerarea__submenu--third--wrap">
                    <li><a href="">Library Catalogue</a>
                    </li>
                    <li><a href="">Membership &
                        Plans</a></li>
                    <li><a href="">New Arrivals</a></li>
                    <li><a href="">Recommend a Book</a>
                    </li>
                    <li><a href="">How to Borrow</a>
                    </li>
                    <li><a href="">FAQS</a></li>

                  </ul>
                </li>




                <li><a class="headerarea__has__dropdown" href="">School Support
                    <i class="icofont-rounded-down"></i>
                  </a>
                  <ul class="headerarea__submenu headerarea__submenu--third--wrap">
                   
                  <li><a href="">Grade 12</a></li>
<li><a href="">Grade 11</a></li>
<li><a href="">Grade 10</a></li>
<li><a href="">Grade 9</a></li>
<li><a href="">Grade 8</a></li>
<li><a href="">Grade 7</a></li>
<li><a href="">Grade 6</a></li>
<li><a href="">Grade 5</a></li>
<li><a href="">Grade 4</a></li>
<li><a href="">Grade 1-3</a></li>


                  </ul>
                </li>


                <li><a class="headerarea__has__dropdown" href="">Beyond School
                    <i class="icofont-rounded-down"></i>
                  </a>
                  <ul class="headerarea__submenu headerarea__submenu--third--wrap">
                    <li><a href="">Kids <i class="icofont-rounded-right"></i></a>

                      <ul class="headerarea__submenu--third">
                        <li><a href="">Coding</a></li>
                        <li><a href="">AI Stories</a></li>
                        <li><a href="">English</a></li>
                        <li><a href="">Maths</a></li>
                        <li><a href="">Logical</a></li>

                      </ul>

                    </li>
                    <li>
                      <a href="">Adults <i class="icofont-rounded-right"></i></a>
                      <ul class="headerarea__submenu--third">
                        <li><a href="">BA</a></li>
                        <li><a href="">Banking</a></li>
                        <li><a href="">Coding</a></li>
                        <li><a href="">Soft Skills</a></li>


                      </ul>
                    </li>
                    <li><a href="">Podcasts <i class="icofont-rounded-right"></i></a>
                      <ul class="headerarea__submenu--third">
                        <li><a href="">Kids</a></li>
                        <li><a href="">Adults</a></li>


                      </ul>
                    </li>

                    <li><a href="">Magazine <i class="icofont-rounded-right"></i></a>
                      <ul class="headerarea__submenu--third">
                        <li><a href="">Daily Challenges</a></li>
                        <li><a href="">Newspaper</a></li>
                        <li><a href="">Monthly Magazine</a></li>

                      </ul>
                    </li>
                  </ul>
                </li>




                <li><a href="">Events</a> </li>












              </ul>
            </nav>
          </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-6">
          <div class="headerarea__right">


            <div class="headerarea__login">
              <li><a href="">Get Involved</a></li>

              
            </div>
            <div class="headerarea__button">
              <a href="#">Login</a>
            </div>
          </div>
        </div>

      </div>

    </div>


    <div class="container-fluid mob_menu_wrapper">
      <div class="row align-items-center">
        <div class="col-6">
          <div class="mobile-logo">
            <a class="logo__dark" href="#"><img loading="lazy" src="{% static 'img/logo/logo_1.png' %}" alt="logo"></a>
          </div>
        </div>
        <div class="col-6">
          <div class="header-right-wrap">
            <div class="mobile-off-canvas">
              <a class="mobile-aside-button" href="#"><i class="icofont-navigation-menu"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>